<div class="form-data">
    <form action="<%= `/users/${user._id}/update?_method=PUT` %>" method="POST">
        <label for="txtFirstName">First Name</label>
        <input type="text" name="firstNameTxt" id="txtFirstName"autofocus required value="<%= user.firstName %>"><br>
        <label for="txtLastName">Last Name</label>
        <input type="text" name="lastNameTxt" id="txtLastName" required value="<%= user.lastName %>"><br>
        <label for="txtGender">Gender</label>
        <input type="gender" name="gender" id="txtGender" required value="<%= user.gender %>"><br>
        <label for="txtLocation">Location</label>
        <input type="location" name="locationTxt" id="txtLocation" required value="<%= user.location %>"><br>        

        <button type="submit">Save</button>
    </form>
</div>